.header {
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;



    h2 {
        font-size: 25.06px;
        font-weight: 600;

        @media (max-width: 768px) {
            font-size: 14.06px;
        }

        width: 100%;
    }
}

.description {
    margin-bottom: 30px;
}