.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;

    display: flex;
    align-items: center;

}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    background-color: #E33C8C;
}

.label {
    font-size: 11px;
    margin-left: 25px;
    width: 100%;
    text-wrap: nowrap;
}