.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 56px;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;

        row-gap: 25px;
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;

        row-gap: 25px;
    }

}

.item {
    display: flex;

}

.image {
    fill: #E13A8D;
    height: 35px;
    width: 35px;
    object-fit: contain;
    object-position: top;
    margin-right: 10px;
}

.text {
    h3 {
        font-size: 25.06px;
        font-weight: 600;

        @media (max-width: 992px) {
            font-size: 14.06px;
        }

        margin-bottom: 5px;
    }

    p {
        font-size: 14.06px;
    }
}