.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.image2 {
    width: 500px;
    height: 500px;
    border-radius: 10px;

    @media (max-width: 1500px) {
        width: 350px;
        height: 350px;
    }


    @media (max-width: 992px) {
        width: 250px;
        height: 250px;
    }
}

.name {
    margin-top: -57px;

    font-size: 12px;

    width: 200px;
    border-radius: 10px;
    background: #F5F7FA;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
        transition: all .2s ease-in-out;
        color: #E13A8D;

        font-size: 14px;

        & span:nth-child(1) {
            transition: all .2s ease-in-out;
        }


        &:hover {
            & span:nth-child(1) {
                margin-right: 10px;
            }
        }

    }
}

.name2 {
    margin-top: -26px;

    font-size: 14px;

    border-radius: 10px;
    background: #E13A8D;
    padding: 14px;
    text-align: center;
    color: white;

    transition: all .2s ease-in-out;

    & span:nth-child(1) {
        transition: all .2s ease-in-out;
    }


    &:hover {
        & span:nth-child(1) {
            margin-right: 10px;
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 992px) {
        justify-content: space-around;
    }

}

.arrow {
    position: absolute;
    top: calc(50% - 15px);
    border-radius: 25%;
    background-color: #E13A8D;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    cursor: pointer;
    user-select: none;
}

.arrowLeft {
    left: 0px;
}

.arrowRight {
    right: 0px;
}