.part {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    li {
        color: #E13A8D;

        transition: all .2s ease-in-out;

        &:hover {
            opacity: 0.6;
        }

        margin: 5px 0;
    }

    @media (max-width: 767px) {

        flex-direction: column;

        & h2 {
            display: none;
        }

        & h3:nth-child(2) {
            display: none;
        }
    }
}